<footer class="footer">
    <p>Where you can find me !</p>
    <a href="https://www.facebook.com/profile.php?id=100002029134611"><i class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/panda6412/"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://github.com/panda6412"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://gitlab.com/panda6412"><i class="fa fa-gitlab fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/%E5%AE%A5%E6%B4%8B-%E5%8A%89-32339611a/"><i class="fa fa-linkedin fa-2x"></i></a>
</footer>